.field {
  width: 100%;
  padding: 10px;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.field:hover,
.field.active {
  background: mediumblue;
}